/* =============
    Typography
============= */
h1{
    font-family: 'Italiana', serif;
}

h2{
    font-family: 'Outfit', sans-serif;
}

h3{
    font-family: 'Outfit', sans-serif;
}

h4{
    font-family: 'Outfit', sans-serif;
}