/* =============
    Typography
============= */
h1{
    font-family: 'Italiana', serif;
    font-weight: 200;
}

h2{
    font-family: 'Italiana', sans-serif;
    font-weight: 200;
}

h3{
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
}

h4{
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
}