#hero-1{
    margin-bottom: 310px;
    width: 100vw;
    height: 50vh;
    // background-image: url(../img/heroes/hero-1.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 5px;

    // @media (min-width: 1024px) {
    //     #hero-1 {
    //         height: 80vh;
    //     }
    // }
}