#team{
    section{
        background-color: var(--depaysement);
        width: 80%;
        align-self: center;
        background-position: center;
        border-radius: 5px;
        padding: 16px;
        text-align: center;
    }

}