/* =============
    Header
============= */
header{

    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-areas: 
    "burger-btn . logo search-bar cart-btn";

    @include lg{
        grid-template-columns: repeat(12,fr);
        grid-template-rows: 2;
        grid-template-areas: 
        ". . . . . logo . . . . search-bar cart-btn";
    }



    #logo{
        align-self: center;
        display: grid;
    }


    #burger-container{
        border: none;
        background-color: transparent;
        color: black;
        padding: 16px;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include lg{
            display: none;
        }

        #burger-btn{
            border: none;
            background-color: transparent;
            color: var(--black);
            padding: 16px;
            cursor: pointer;
            transition: 0.25s;

            &:hover{
                color: var(--green);
            }
        }
    }

    #search-bar{
        // box-sizing: border-box;
        align-items: right;

        input{
            display: none;

            @include lg{
                display: block;
                box-sizing: border-box;
                border: 1px solid var(--black);
                border-radius: 5px;
            }
        }

        button{
            background-color: transparent;
            border: none;
            color: var(--black);
            cursor: pointer;
            transition: 0.25s;

            &:hover{
                color: var(--beige);
            }

        }
    }

    #cart-btn{
        display: block;
        align-items: right;
    }

    ul{
        display: none;
        li{
            list-style: none;
            
        }

        @include lg{
            display: grid;
            margin: 0;
            padding: 0;

        }
    }
}